/* Головний файл стилів */
@import 'base.css';
@import 'components.css'; /* Спочатку завантажуємо компоненти */
@import 'layout.css';     /* В кінці - структуру та адаптацію, щоб вона перекривала все інше */